body{
    color: purple;
    background-color: greenyellow;
    font-family: Georgia,;
    padding-left: 11 em;
}

ul.navbar{
    list-style-type: none;
    padding: 0;
    margin: 150px;
    position: absolute;
    top: 2em;
    left: 5em;
    width: 9em;
}
ul.navbar li{
    background: white;
    margin: 0.5em 0;
    padding: 0.3 em;
    border-right: 1 em solid black;
}
ul.navbar a{
    text-decoration:dashed;
}
a:link{
    color: goldenrod;
}
a:visited{
    color:purple;
}
address{
    margin-top: 1em;
    padding: 1em;
    border-top: thin dotted;
}
