body{
    font-family: 'Gill Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-attachment: beige;
}
.contenedorPrincipal{
    /*border: solid 2px red;*/
    width: 100%;
    margin: 0;
}
header{
    background-color: #eee;
    height: 70px;
    width: 100%;
}
header nav ul li{
    list-style-type: none;
    float: left;

}
header nav ul li a{
    text-decoration: none;
    padding: 15px 20px 15px 20px;
    display: -moz-inline-box;
    color: #2d2d2d;
}
header nav ul li a:hover{
    background-color: red;
    color:white ;

}
main{
    background-color: bisque;
    width:100% ;
    float:left;
}
/*organizar imagen */
main img{
    /* maximo que se va a apliar */
    max-width: 100%;
}
/**/
main section{
    padding: 30px;

}
main section p{
    text-align:justify;
    margin-bottom:16px; 
    line-height: 1.5em;
}
main h1{
    margin-bottom:20px ;
    font-size: 1.6em;

}
aside{
    width:100% ;
    float: left;
    background-color:aqua ;
    padding: 30px;
}
aside ul li{
    text-decoration:none ;
    color: black;
    list-style: none;
    margin-bottom:  16px;
    border-bottom:  1px solid black; 
}
aside ul li:hover{
    color: black;

}
aside h2{
    color:black;
    margin-bottom: 20px;
    font-size:1,4em ;
}

footer{
    width:100% ;
    padding: 30px;
    background-color:#e53 ;
}
footer p{
     color: white;
     text-align: center;
}